@model NewgenWebsoftBatch30.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<hr />
<h3>Create Employee</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        @* <form asp-action="Create"> *@
        <form>
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpFirstName" class="control-label"></label>
                <input asp-for="EmpFirstName" class="form-control" required />
                <span asp-validation-for="EmpFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpLastName" class="control-label"></label>
                <input asp-for="EmpLastName" class="form-control" required />
                <span asp-validation-for="EmpLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" required />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input id="EmpBirthDate" asp-for="BirthDate" class="form-control" required />
               @*  <input asp-for="BirthDate" class="form-control" id="EmpBirthDate" autocomplete="off" required
                       value="@(Model.BirthDate?.ToString("yyyy-MM-dd"))" /> *@
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div> 

            <div class="form-group">
                <label asp-for="EmpGender" class="control-label">Gender</label>
                <input type="radio" class="radio radio-rounded" asp-for="EmpGender" value="Male" /> Male
                <input type="radio" class="radio radio-rounded" asp-for="EmpGender" value="Female" /> Female
                <span asp-validation-for="EmpGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPhoneNumber" class="control-label"></label>
                <input asp-for="EmpPhoneNumber" class="form-control" required />
                <span asp-validation-for="EmpPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" required />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmpStatus" required /> @Html.DisplayNameFor(model => model.EmpStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeptId" class="control-label">Department</label>
                <select asp-for="DeptId" class="form-control" required>
                    <option value="">--Select Department---</option>
                    @foreach (var item in ViewBag.Departments)
                    {
                        <option value="@item.DeptId">@item.DeptName</option>
                    }
                </select>
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Create" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/employeecontroller.js"></script>
}
