@model IEnumerable<NewgenWebsoftBatch30.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Employees</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">New Employee</a>
</p>

<table id="jqtblEmployee" class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Salary</th>
            <th>Status</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#jqtblEmployee').DataTable({
                "ajax": {
                    "url": "/Employee/GetEmployees",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "empFirstName" },
                    { "data": "empLastName" },
                    { "data": "emailId" },
                    { "data": "birthDate" },
                    { "data": "empGender" },
                    { "data": "empPhoneNumber" },
                    { "data": "salary" },
                    { "data": "empStatus" },
                    { "data": "department" },
                    {
                        "data": "empId",
                        "render": function (data, type, row) {
                            return `
                                <a href="/Employee/Edit/${data}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/Employee/Details/${data}" class="btn btn-info btn-sm">Details</a>
                                <a href="/Employee/Delete/${data}" class="btn btn-danger btn-sm">Delete</a>
                            `;
                        },
                        "orderable": false,
                        "searchable": false
                    }
                ]
            });
        });
    </script>
}


@* <table class="table" id="jqtblEmployee">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @(item.EmpStatus ? "Active" : "Inactive")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DeptName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmpId" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmpId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
